<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

    <th:block th:replace="~{/layout/basic :: setContent(~{this::content})}">

        <th:block th:fragment="content">

            <h1 class="mt-4">Board Read Page</h1>

            <div class="form-group">
                <label>Bno</label>
                <input type="text" class="form-control" name="bno" th:value="${dto.bno}" readonly>
            </div>

            <div class="form-group">
                <label>Title</label>
                <input type="text" class="form-control" name="title" th:value="${dto.title}" readonly>
            </div>

            <div class="form-group">
                <label>Content</label>
                <textarea class="form-control" name="content" readonly>[[${dto.content}]]</textarea>
            </div>

            <div class="form-group">
                <label>Writer</label>
                <input type="text" class="form-control" name="writer" th:value="${dto.writerName}" readonly>
            </div>

            <div class="form-group">
                <label>RegDate</label>
                <input type="text" class="form-control" name="regDate" th:value="${#temporals.format(dto.regDate, 'yyyy/MM/dd HH:mm:ss')}" readonly>
            </div>

            <div class="form-group">
                <label>ModDate</label>
                <input type="text" class="form-control" name="modDate" th:value="${#temporals.format(dto.modDate, 'yyyy/MM/dd HH:mm:ss')}" readonly>
            </div>

            <a th:href="@{/board/modify(bno=${dto.bno}, page=${requestDTO.page}, type=${requestDTO.type}, keyword=${requestDTO.keyword})}">
                <button type="button" class="btn btn-info">Modify</button>
            </a>

            <a th:href="@{/board/list(page=${requestDTO.page}, type=${requestDTO.type}, keyword=${requestDTO.keyword})}">
                <button type="button" class="btn btn-info">List</button>
            </a>

            <div>
                <div class="mt-4">
                    <h5><span class="badge badge-info addReply" role="button">Add Reply</span></h5>
                    <h5><span class="badge badge-secondary replyCount" role="button">Reply Count [[${dto.replyCount}]]</span></h5>
                </div>
                <div class="list-group replyList">
                    <!-- 댓글 목록이 표시될 영역 -->
                </div>
            </div>

            <!-- 댓글 추가 모달창 -->
            <div class="modal" tabindex="-1">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title">Modal title</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <div class="form-group">
                                <input class="form-control" type="text" name="replyText" placeholder="Reply Text...">
                                <input class="form-control" type="text" name="replyer" placeholder="Replyer...">
                                <input type="hidden" name="rno">
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-danger replyRemove">Remove</button>
                            <button type="button" class="btn btn-warning replyModify">Modify</button>
                            <button type="button" class="btn btn-primary replySave">Save</button>
                            <button type="button" class="btn btn-outline-secondary replyClose" data-bs-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>

            <script th:inline="javascript">
                //$(document).ready(function() {});
                // .ready()는 DOM(Document Object Model)이 완전히 불러와지면 실행되는 Event. jQuery 3.0부터는 deprecated 되었으므로 $() 사용
                $(function() {
                    var bno = [[${dto.bno}]];
                    var listGroup = $(".replyList");

                    //ajax 로 댓글 정보를 요청
                    $(".replyCount").click(function() {
                        // test 코드
                        /*
                        $.getJSON('/replies/board/' + bno, function(arr) {  //jQuery.getJSON(url [, data ] [, success ])
                            console.log(arr);
                        });  //end getJSON
                        */

                        loadJSONData();
                    });  //end click

                    //날짜 처리를 위한 함수
                    function formatTime(str) {
                        var date = new Date(str);

                        return date.getFullYear() + "/" +
                            (date.getMonth() + 1) + "/" +
                            date.getDate() + " " +
                            date.getHours() + ":" +
                            date.getMinutes();
                    }

                    //특정한 게시글의 댓글을 처리하는 함수
                    function loadJSONData() {
                        $.getJSON("/replies/board/" + [[${dto.bno}]], function(arr) {
                            console.log(arr);

                            var str = "";

                            $(".replyCount").html(" Reply Count " + arr.length);  //html() 은 선택한 요소의 내용을 가져오거나 바꿈

                            $.each(arr, function(idx, reply) {
                                console.log(reply);

                                str += '<div class="card-body" data-rno="' + reply.rno + '"><b>' + reply.rno + '</b>';
                                str += '<h5 class="card-title">' + reply.text + '</h5>';
                                str += '<h6 class="card-subtitle mb-2 text-muted">' + reply.replyer + '</h6>';
                                str += '<p class="card-text">' + formatTime(reply.regDate) + '</p>';
                                str += '</div>';
                            });

                            listGroup.html(str);
                        });
                    }

                    //모달창
                    var modal = $(".modal");

                    $(".addReply").click(function() {
                        modal.modal("show");

                        //댓글 입력부분 초기화
                        $("input[name='replyText']").val("");
                        $("input[name='replyer']").val("");

                        $(".modal-footer .btn").hide();  //모달 내 모든 버튼 hide
                        $(".replySave, .replyClose").show();  //필요한 버튼만 show
                    });

                    $(".replySave").click(function() {
                        var reply = {
                            bno: bno,
                            text: $("input[name='replyText']").val(),
                            replyer:$("input[name='replyer']").val()
                        };

                        console.log(reply);

                        $.ajax({
                            url: "/replies/",
                            method: "post",
                            data: JSON.stringify(reply),
                            contentType: "application/json; charset=utf-8",
                            dataType: "json",
                            success: function(data) {
                                console.log(data);

                                var newRno = parseInt(data);

                                alert(newRno + "번 댓글이 등록되었습니다.");
                                modal.modal("hide");
                                loadJSONData();
                            }
                        });
                    });

                    $(".replyList").on("click", ".card-body", function() {  //replyList 의 card-body 클래스에 이벤트 적용
                        var rno = $(this).data("rno");  // 클릭한 <div>의 data-rno 를 가져옴

                        $("input[name='replyText']").val($(this).find(".card-title").html());
                        $("input[name='replyer']").val($(this).find(".card-subtitle").html());
                        $("input[name='rno']").val(rno);

                        $(".modal-footer .btn").hide();
                        $(".replyRemove, .replyModify, .replyClose").show();

                        modal.modal("show");
                    });

                    $(".replyRemove").click(function() {
                        var rno = $("input[name='rno']").val();  //모달창에 hidden 처리된 댓글 번호

                        $.ajax({
                            url: "/replies/" + rno,
                            method: "delete",

                            success: function(result) {
                                console.log("result: " + result);

                                if(result === "success") {
                                    alert("댓글이 삭제되었습니다.");
                                    modal.modal("hide");
                                    loadJSONData();
                                }
                            }
                        });
                    });
                });
            </script>

        </th:block>

    </th:block>

</html>